.playing-area {
  display: flex;
  flex-wrap: wrap;
  width: 620px;
  margin: 0 auto;
  list-style-type: none;
}

.playing-area__item {
  width: 20%;
  height: 124px;
  margin: 5px;
  background-color: #7fc619;;
  border-radius: 5px;
}

.playing-area__img {
  width: 124px;
  height: 124px;
}
